@model IEnumerable<User>
@{
    Layout = "Shared/_LayoutHome.cshtml";
}
@using System.Security.Claims
@{
    var userId = User.FindFirst(ClaimTypes.NameIdentifier).Value;
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="~/css/Find.css" />
<div class="main">
    @if (User.Identity.IsAuthenticated)
    {
    <div id="partialDiv" class="side-menu">
        @await Component.InvokeAsync("Room", new { chatType = ChatType.Private, chatId = 0 })
    </div>
    }
    <div class="chat">
        <div class="chat-body">
            <div class="container">
                <div class="row height d-flex justify-content-center align-items-center">
                    <div class="col-md-6">
                        <div class="form"><button type="button" id="searchBtn" onClick="search_func()" class="btn"> <i class="fa fa-search"></i></button> <input type="text" onkeypress="handle(event)" id="userSearch" class="form-control form-input" placeholder="Search user"></div>
                    </div>
                </div>
            </div>
            <div id="userResult">
                @foreach (var chat in Model)
                {
                <a class="room-button" asp-controller="Home" asp-action="CreatePrivateRoom" asp-route-userId="@chat.Id">
                    
                    @*@chat.Users.FirstOrDefault(x => x.UserId != userId).User.DisplayName*@
                    @chat.DisplayName
                </a>
                }
            </div>

        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
    function search_func() {
        address = document.getElementById("userSearch").value;
        //write your specific code from here
        search(address);
    }

    function handle(e) {
        address = document.getElementById("userSearch").value;
        if (e.keyCode === 13) {
            //write your specific code from here
            search(address);
        }
        return false;
    }

    function search(value) {
        $.ajax({
            url: '@Url.Action("FindUserByName", "Home")',
            data: { search: value },
            success: function (data) {
                //call is successfully completed and we got result in data
                //alert(data);
                var userResult = document.getElementById("userResult");
                while (userResult.firstChild) {
                    userResult.removeChild(userResult.lastChild);
                }

                for (var x = 0; x < data.length; x++) {
                    var curId = data[x].id;
                    var user = document.createElement("a");
                    user.innerHTML = data[x].displayName;
                    user.className = "room-button";
                    user.href = "/Home/CreatePrivateRoom?userId=" + curId;
                    @*user.onclick = function () {
                        window.location.href = "/Home/CreatePrivateRoom?userId=" + curId;
                    }*@
                    userResult.appendChild(user);
                }
            }
        })
    }
</script>
